.start-test-container {
  height: 100vh;
  position: relative;
  background-image: url("./../../assets/malla-naranja.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--green);
}
.start-test-container main {
  background-color: var(--light-orange);
  position: absolute;
  bottom: 0;
  top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 100px 100px 0 0;
}
.start-test-container div:first-child img {
  background-color: var(--dark-olive);
  border-radius: 100px;
  padding: 0.7rem;
  width: 7rem;
  height: 7rem;
  position: relative;
  top: -5rem;
}
.start-test-container .logo-hair-test {
  position: relative;
  top: -5rem;
}
.start-test-container div:last-child {
  display: flex;
  justify-content: center;
}
.start-test-container div:last-child img {
  position: absolute;
  bottom: 0;
  left: 0;
}

