.products-container {
  background-color: var(--mustard);
  height: auto;
  position: relative;
  background-image: url("./../../assets/malla-negra.svg");
  background-size: contain;
}
.products-container main {
  background-color: var(--light-white);
  position: relative;
  bottom: 0;
  top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 100px 100px 0 0;
}
.logo-ctn {
  box-shadow: 0px 4px 11px -1px rgba(0, 0, 0, 0.6);
  background-color: var(--mustard);
  border-radius: 100px;
  padding: 0.7rem;
  position: relative;
  top: -4rem;
}
.logo-ctn img {
  width: 8rem;
  height: 8rem;
}

.products {
  position: relative;
  top: -7rem;
  /* display: flex; */
  /* width: 85%; */
  color: var(--white);
}
.products div {
  display: flex;
  text-align: center;
  width: 10rem;
  height: 21rem;
  position: relative;
  z-index: 2;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
.products img {
  width: 100%;
  height: auto;
}
.mustard-ctn {
  background-color: var(--mustard);
  width: 75%;
  height: 70%;
  top: 5rem;
  position: absolute;
  border-radius: 4rem;
  align-items: center;
}
