.hair-model,
.white-mesh {
  position: absolute;
  background-size: cover;
}
.hair-model {
  background-image: url("./../../assets/modelo-cabello.svg");
}
.white-mesh {
  background-image: url("./../../assets/malla-blanca.svg");
}
.home-container {
  display: flex;
  justify-content: center;
}
.home-container main {
  background-color: var(--orange-opacity);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 90%;
  width: 100%;
  border-radius: 0 0 100px 100px;
}
.home-container header {
  display: flex;
  align-items: center;
}
.home-container .icon-user {
  background-color: var(--light-orange);
  border-radius: 50%;
  display: flex;
  padding: 2px;
  position: absolute;
  box-shadow: 0px 4px 11px -1px rgba(0, 0, 0, 0.6);
}
.home-container h2 {
  background-color: #fab57ec9;
  width: 16rem;
  border-radius: 2rem;
  padding: 0.3rem;
  text-align: center;
  font-size: large;
  box-shadow: 0px 4px 11px -1px rgba(0, 0, 0, 0.6);
}
.categories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.icon-ctn-hair-test,
.icon-ctn-products,
.icon-ctn-tips,
.icon-ctn-professionals {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 11px -1px rgba(0, 0, 0, 0.6);
  position: absolute;
  transform: translate(-5rem, -1.5rem);
}

.icon-ctn-hair-test img,
.icon-ctn-products img,
.icon-ctn-tips img,
.icon-ctn-professionals img {
  width: 2.5rem;
  height: 2.5rem;
  padding: 3px;
}
.icon-ctn-hair-test {
  background-color: var(--dark-olive);
}
.icon-ctn-products {
  background-color: var(--mustard);
}
.icon-ctn-tips {
  background-color: var(--wine);
}
.icon-ctn-professionals {
  background-color: var(--orange);
}
.info-categories {
  border: 2px solid var(--white);
  border-radius: 2rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  color: var(--white);
}
.info-categories h3 {
  font-size: small;
}
.info-categories img {
  width: 9rem;
}
.info-categories button {
  color: var(--white);
  background: linear-gradient(
    90deg,
    rgba(136, 0, 12, 0.885552898731107) 38%,
    rgba(136, 0, 12, 0.15352675494025736) 100%
  );
  border: none;
  border-radius: 1rem;
  width: 7rem;
}
