:root {
  --white: #ffffff;
  --light-orange: #fab57e;
  --light-orange-opcity: #fab57e6e;
  --orange: #f16832;
  --orange-opacity: #f16832b3;
  --wine: #88000c;
  --light-wine: #88000c2e;
  --brown: #3c1100;
  --light-olive: #807f6b;
  --dark-olive: #334a33;
  --mustard: #d19525;
  --green: #5a8d26;
  --light-white: #d9d9d9d7;
  --green-opacity: #5a8d2680;
}

* {
  margin: 0;
  font-family: "Didact Gothic", sans-serif;
  box-sizing: border-box;
}
